<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect to HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Ensure request is for the correct domain
    RewriteCond %{HTTP_HOST} ^cozyaestheticwallpaper\.com$ [NC]
    RewriteCond %{REQUEST_URI} !^/frontend/build/
    RewriteRule ^(.*)$ /frontend/build/$1 [L]

    # Serve files or directories if they exist
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # If no match, route to index.html
    RewriteRule ^ /frontend/build/index.html [L]
</IfModule>